<p *ngIf="!logs">
  <em>Loading...</em>
</p>
<div class="my-3 p-3 bg-white rounded box-shadow">
  <table *ngIf="logs" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logs; let i = index">
        <th>{{i}}</th>
        <td>{{log.Header}}</td>
        <td>{{log.Description}}</td>
      </tr>
    </tbody>
  </table>
  <span class="badge badge-primary">+{{newItemsCount}}</span>
</div>